//New_Zelek
@font-face {
  font-family: 'New_Zelek';
  font-style: normal;
  font-weight: normal;
  src: local('New_Zelek'), url('../fonts/New_Zelek/New_Zelek.ttf') format('truetype');
}

//Chillax
@font-face {
  font-family: 'Chillax Extralight';
  font-style: normal;
  font-weight: 200;
  src: local('Chillax Extralight'), url('../fonts/Chillax/Chillax-Extralight.woff') format('woff');
}

@font-face {
  font-family: 'Chillax Light';
  font-style: normal;
  font-weight: 300;
  src: local('Chillax Light'), url('../fonts/Chillax/Chillax-Light.woff') format('woff');
}

@font-face {
  font-family: 'Chillax Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Chillax Regular'), url('../fonts/Chillax/Chillax-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Chillax Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Chillax Medium'), url('../fonts/Chillax/Chillax-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Chillax Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Chillax Semibold'), url('../fonts/Chillax/Chillax-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Chillax Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Chillax Bold'), url('../fonts/Chillax/Chillax-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat'), url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat'), url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight:300; /* Регулярный */
  src: local('Montserrat'), url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400; /* Регулярный */
  src: local('Montserrat'), url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500; /* Полу-жирный */
  src: local('Montserrat Medium'), url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600; /* Полужирный */
  src: local('Montserrat SemiBold'), url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700; /* Жирный */
  src: local('Montserrat Bold'), url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800; /* Очень жирный */
  src: local('Montserrat ExtraBold'), url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900; /* Черный */
  src: local('Montserrat Black'), url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
}